@charset "UTF-8";
/*清除所有元素内外间距*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  /*去掉input默认的蓝色边框*/
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input {
  font-family: "SimSun", "宋体";
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  border: 0;
  display:block; /*去除底边的像素*/
}


body {
  font: 12px/18px Microsoft YaHei, Arial, Verdana, SimSun;
  color: #666;
  background: #F6F6F6;
}

/*清除浮动最现代、最流行、最简单的方式*/
 .clearfix::after {
   content: "";
   display: block;
   height:0;
   clear: both;
}
 
/*兼容IE67*/
.clearfix {
  *zoom: 1;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

/*废物利用*/
s, i, em {
  font-style: normal;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

/*京东红*/
.col-red {
  color: #f10215 ;
}
.col-gray{
  color: #999999;
}

/*版心*/
.w {
  width: 1190px;
  margin: 0 auto;
}


/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

